<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clean up your trellos</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://api.trello.com/1/client.js?key=2e423eeab19aa698eb67ca94ee66983f"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <ul class="col-sm-4 nav" id="organizations">
            </ul>
            <div class="col-sm-8">
                <ul class="nav nav-pills" id="filters">
                    <li class="nav-item">
                        <a class="nav-link" data-filter="null" href="#">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-filter="closed" href="#">Closed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-filter="opened" href="#">Opened</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-filter="inactive" href="#">Inactive</a>
                    </li>
                </ul>
                <ul class="list-group" id="boards">
                </ul>
            </div>
        </div>
    </div>
    <script>
    (function () {
        var CLASS_CLOSED = 'closed-board'
            , CLASS_OPENED  = 'opened-board'
            , CLASS_ACTIVE = 'active-board'
            , CLASS_INACTIVE = 'inactive-board'
        ;
        Application = function () {
            this.$organizations = $('#organizations');
            this.organizations = {};

            this.$boards = $('#boards');
            this.boards = {};

            this.$filters = $('#filters');
            this.filters = ['null', 'closed', 'opened', 'inactive'];

            this.initListeners();
        };

        Application.prototype = {
            initListeners: function () {
                this.$organizations.on('click', 'li > a', $.proxy(function (e) {
                    this.organizations[$(e.target).attr('id')].renderBoards();
                }, this));

                /** TODO: refactor the two following listeners as they are the same for the opposite action */
                this.$boards.on('change', 'li.' + CLASS_CLOSED + ' input', function () {
                    var $listItem = $(this).parents('li.' + CLASS_CLOSED);
                    var id = $(this).attr('id');
                    Trello.put(
                        '/boards/'+id+'/closed',
                        {value: false},
                        function () {
                            $listItem
                                .removeClass(CLASS_CLOSED)
                                .addClass(CLASS_OPENED)
                            ;
                        },
                        function (error) { alert(error.responseText); }
                    );
                });

                this.$boards.on('change', 'li.' + CLASS_OPENED + ' input', function () {
                    var $listItem = $(this).parents('li.' + CLASS_OPENED);
                    var id = $(this).attr('id');
                    Trello.put(
                        '/boards/'+id+'/closed',
                        {value: true},
                        function () {
                            $listItem
                                .removeClass(CLASS_OPENED)
                                .addClass(CLASS_CLOSED)
                            ;
                        },
                        function (error) { alert(error.responseText); }
                    );
                });

                this.$filters.on('click', 'a', $.proxy(function (e) {
                    this.filter($(e.target).data('filter'));
                }, this));
            },

            run: function () {
                Trello.members.get(
                    'me',
                    $.proxy(function (member) {
                        _.forEach(member.idOrganizations, this.addOrganization, this);
                    }, this),
                    function (error) { alert("Oops"); console.log(error); }
                );
            },

            addOrganization: function (orgId) {
                Trello.organizations.get(orgId, {fields: "idBoards,name,logoHash,id"}, $.proxy(function (org) {
                    var organization = new Organization(this, org);
                    this.organizations[org.id] = organization;
                    this.$organizations.append(organization.render());
                }, this));
            },

            filter: function (filter) {
                switch (filter) {
                    case 'closed':
                        $('li.' + CLASS_OPENED, this.$boards).hide();
                        $('li.' + CLASS_CLOSED, this.$boards).show();
                        break;
                    case 'opened':
                        $('li.' + CLASS_CLOSED, this.$boards).hide();
                        $('li.' + CLASS_OPENED, this.$boards).show();
                        break;
                    case 'inactive':
                        $('li.' + CLASS_ACTIVE, this.$boards).hide();
                        $('li.' + CLASS_INACTIVE, this.$boards).show();
                        break;
                    default:
                        $('li', this.$boards).show();
                        break;
                }
            }
        };

        window.Application = Application;

        /**
         * Orgnization view element.
         */
        var Organization = function (application, organization) {
            this.application = application;
            this.organization = organization;
        };

        Organization.TEMPLATE = '<li class="nav-item"><a href="#" class="nav-link" id="<%= organization.id %>"><% if (organization.logoHash) { %><img src="https://trello-logos.s3.amazonaws.com/<%= organization.logoHash %>/30.png" class="img-rounded">&nbsp;<% } %><%= organization.name %></a></li>';

        Organization.prototype = {
            render: function () {
                var template = _.template(Organization.TEMPLATE);

                return template({ "organization": this.organization });
            },

            renderBoards: function () {
                this.application.$boards.empty();

                Trello.organizations.get(this.organization.id, {fields: "id,name,idBoards"}, $.proxy(function (organization) {
                    _.forEach(organization.idBoards, this.addBoard, this);
                } , this));

            },

            addBoard: function (idBoard) {
                Trello.boards.get(idBoard, {fields: "id,name,dateLastActivity,closed"}, $.proxy(function (brd) {
                    var board = new Board(this.application, brd);
                    this.application.boards[brd.id] = board;
                    this.application.$boards.append(board.render());
                }, this));
            }
        };

        /**
         * Board view element
         */
        var Board = function (application, board) {
            this.application = application;
            this.board = board;
            // after 2 months of inactivity we consider the trello board as inactive
            this.active = moment().diff(moment(this.board.dateLastActivity), 'month') < 2;
        };

        Board.TEMPLATE = '<li class="list-group-item <%= classStatus %> <%= classActive %>">\
            <div class="checkbox">\
                <label for="<%= board.id %>">\
                    <input type="checkbox" name="<%= board.id %>" <% if (false == closed) {%>checked<% } %> id="<%= board.id %>">\
                    <%= board.name %>\
                </label>\
                <span class="text-muted"><%= date %></span>\
            </div>\
        </li>';

        Board.prototype = {
            render: function () {
                var template = _.template(Board.TEMPLATE)
                    , templateVariables = {
                        "board": this.board,
                        "date" : !_.isNull(this.board.dateLastActivity) ? 'last updated on ' + moment(this.board.dateLastActivity).fromNow() : 'may be inactive for a long time',
                        "active": this.active,
                        "closed": this.board.closed,
                        "classStatus": this.board.closed ? CLASS_CLOSED : CLASS_OPENED,
                        "classActive": this.active ? CLASS_ACTIVE : CLASS_INACTIVE
                    }
                ;

                return template(templateVariables);
            }
        };
    }(window, $, _, Trello));

    Trello.authorize({
        type: "popup",
        name: "Getting Started Application",
        scope: {
            read: true,
            write: true
        },
        success: function () {
            var application = new Application();
            application.run();
        },
        error: function () {
            console.log("Failed authentication");
        }
    });
    </script>
</body>
</html>
